*{
    margin: 0;
    padding: 0;
}

header img{
    display: block;
    margin: auto;
}

header ul{
    background-color: aqua;
}

header ul li{
    display: inline-block;
    margin: 10px;
}

header ul li a{
    text-decoration: none;
    color: blue;
}

